<!DOCTYPE html>

  <body>

    <div class="container">

      <div class="starter-template">
        <h1>Market Chirp</h1>
        <p class="lead">All you need are the ABCs.<br>We're Alex, Brandon, Chris, and Sakib.</p>
      </div>

    </div><!-- /.container -->

  </body>
</html>
