// Place all the styles related to the MarketChirp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.starter-template {
  margin-top: 25%;
  padding: 40px 15px;
  text-align: center;
}

/* universal */

body {
  padding-top: 60px;
  background: url('/assets/wolfofWS.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Wolf of WallStreet */
div#mc {
  background-color: rgb(253, 184, 20);
  font-weight: bolder;
  color: black;
  border: black;
  border-width: thick;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 50px;
}

.info-section {
  background-color: rgb(253, 184, 20);
  font-weight: bolder;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  /*margin: 10px;*/
  margin-top: 20px;
  border: black;
  border-width: thick;
  border-style: solid;
  border-radius: 5px;
}
