// Place all the styles related to the sent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.sent {
  background-image: none;
}
